KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/tcech/.Xauthority", RUN+="/bin/bash -c '/usr/local/bin/autoxrandr.sh &'"